body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #1f2937;
  color: white;
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-logo {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
}
header .header-links {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 20px;
}
header div {
  color: white;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

.content {
  background-color: #1f2937;
  display: flex;
  color: white;
  font-family: "Roboto";
  padding: 50px 100px;
  justify-items: center;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}

.left .head {
  font-size: 48px;
  font-weight: 900;
}

.content img {
  width: 400px;
  width: auto;
}
.content button {
  background-color: #3882f6;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 10px;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  flex-direction: row;
  margin: 0 100px 0 100px;
  align-items: center;
  align-content: space-around;
}
.info-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #3882f6;
}

.info-text {
  display: flex;
  flex-wrap: wrap;
}

.quote {
  background-color: #e5e7eb;
  padding: 50px;
  border-radius: 10px;
  color: white;
  justify-content: center;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  width: 40%;
  display: flex;
  font-weight: 300;
  color: #1f2937;
}
.quote-writer {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
  margin-left: 20%;
}

.call-box {
  background-color: #3882f6;
  color: white;
  font-family: "Roboto";
  border-radius: 10px;
  display: flex;
  padding: 20px;
  margin: 50px 100px 50px 100px;
}

.call-text {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.call-description {
  font-size: 18px;
  margin-top: 10px;
}

footer {
  display: flex;

  background-color: #1f2937;
  color: white;
  font-family: "Roboto";
  text-align: center;
  padding: 20px;
}

.call-button {
  background-color: #3882f6;
  color: white;
  border: white solid 2px;
  height: 40px;
  font-size: 18px;
  width: 150px;
  border-radius: 10px;
  align-self: center;
  margin-left: 20%;
}

.call-head {
  font-size: 24px;
  font-weight: 700;
}
